/* import font in css file */
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');


body {
    background: white;
}


.inline {
    color: aqua;
}

#use_id {
    color: blue;
}

/* .description {
    color: chocolate;
} */
p {
    color: chartreuse;
}

/* use typo in hello world */
.typo {
    color: red;
    font-size: 50px;
    font-weight: 1000;
    font-style: calc();
    text-align: center;
    background: linear-gradient(45deg, white, white);

    font-family: 'Kdam Thmor Pro', sans-serif;
}

.boxx {
    width: 100px;
    height: 10px;
    color: blanchedalmond;
    border: 20px solid;
    padding: 40px;
    margin: auto;
    box-shadow: 4px, 4px, 80px;
}

.test {

    background: red;
    border: 10px;
    width: 50%;


    margin: auto;
    margin-top: 10px;
    justify-content: center;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: large;

    .fa fa car {
        margin: auto;
    }


}
.box{
    height: 200px;
    width: 200px;
    border: 2px solid;
    margin:5px;
    text-align: center;
    background-color: bisque;
    display: flex;
}
.naeem
{
    background-color: aqua;
    font-size: large;
    margin: auto;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    font-style: italic;
    text-align: center;
   
}
.container{
    display: flex;
    justify-content:center ;
    gap: 50px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    
   

}
.fl{
    display:flex;
    flex-wrap: wrap;
}

.box1
{
    height: 200px;
    width: 200px;
    border: 2px solid;
    margin:5px;
    background-color: red;
    position:absolute;
    margin-top: 100px;
}
.box2
{
    height: 200px;
    width: 200px;
    border: 2px solid;
    margin:5px;
    background-color:green;
}
.box3
{
    height: 200px;
    width: 200px;
    border: 2px solid;
    margin:5px;
    background-color:yellow;
}

.green
{
    height: 300px;
    width: 500px;
    border: 2px solid;
    position:absolute;
    background-color:green;
    /* height:50vh; */
    
}
.red
{
    height: 120px;
    width: 120px;
    border: 2px solid;
    border-radius: 60px;
    background-color: red;
    margin-left: 30%;
    margin-top: 20%;
    
}