/* make input and search box */

/* =================================== */
.search-box{
    padding: 50px;
    text-align: center;
    
}

.search-input{
    padding: 20px 30px;
}

#search-btn{
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(159, 159, 223);
    color: white;
    font-size: 18px;
}
/* =================================== */

