body{
    background-color: antiquewhite;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Display 3 columns */
    grid-gap: 20px;
    /* Add gap between grid items */
    max-width: 200px;
    margin: 0 auto;
}

.card {
    width: 25%;
}

.card img {
    width: 25%;
    height: auto;
}

.card-body {
    text-align: center;
}

.break {
    width: 100%;
    /* Ensure the break div spans the entire row */
    height: 0;
    /* Hide the break div */
    clear: both;
    /* Clear floats */
}