.card_1 {
    display: flex;
    flex-wrap: wrap;

}

.card {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 10px;
}

.card-img-top{
    width: 90%;
    
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 10px;
}