{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>This is homepage</h1>
    <div class="container">
        {% for meal in meals %}
        <div class="card">
            <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="Meal Image">
            <div class="card-body">
                <h5 class="card-title">{{ meal.strMeal }}</h5>
                <p class="card-text">Meal ID: {{ meal.idMeal }}</p>
            </div>
        </div>
        {% if forloop.counter|divisibleby:"3" and not forloop.last %}
        <div class="break"></div>
        {% endif %}
        {% endfor %}
    </div>

</body>

</html>