{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'style_app.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% for meal in meals %}
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{{ meal.strMealThumb }}" class="card-img-top" alt="Meal Image">
                <div class="card-body">
                    <h5 class="card-title">{{ meal.strMeal }}</h5>
                    <p class="card-text">Meal ID: {{ meal.idMeal }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}