<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This page is use for  (for) loop:</h4>
    {% for i in courses %}
        <h3>{{i.id}}  {{author}}  {{i.name}}  {{i.fee}}</h3>
    {% endfor %}

    <h3>{{1st | join:" - "}}</h3>
    <h3>{{1st | length}}</h3>
    <h4>{{'Hey guys i am naeem.wanna be a googler.' | truncatewords:5}}</h4>
    <h4>{{'Hey guys i am naeem.wanna be a googler.' | truncatewords:2}}</h4>
    <h4>{{'Hey guys i am naeem.wanna be a googler.' | cut:" " | cut:"."}}</h4>
</body>
</html>